$primary_color: #05448E;
$secondary_color: #FECE00;
$base_font: 'Poppins', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $base_font;
    font-size: 15px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
header{
    box-shadow: 0 3px rgba(0, 0, 0, 0.25);
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        .header__1{
            img{
                width: 240px;
            }
        }
        .header__2{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                margin-right: 12px;
                li{
                    margin-right: 12px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        font-weight: 400;
                        color: #838383;
                        text-transform: uppercase;
                    }
                    &:hover{
                        a{
                            color: $primary_color;
                            font-weight: 600;
                        }
                    }
                }
                .active{
                    a{
                        color: $primary_color;
                        font-weight: 600;
                    }
                }
            }
            .header__phone{
                margin-right: 12px;
                a{
                    color: $primary_color;
                    font-family: "Arial";
                    font-size: 20px;
                    i{
                        font-size: 17px;
                    }
                }
            }
            .header__myaccount{
                a{
                    background-color: $primary_color;
                    color: white;
                    font-size: 17px;
                    font-weight: 500;
                    padding: 12px 17px;
                    border-radius: 10px ;
                }
            }
        }
    }
}

section{
    margin-bottom: 50px;
}
.cover{
    background-image: url("../src/banner.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    height: 550px;
    .container{
        position: relative;
        height: 100%;
        .cover__info{
            width: 30%;
            position: absolute;
            right: 10%;
            top: 22%;
            h1{
                color: white;
                text-align: center;
                font-size: 45px;
                font-weight: 700;
                margin-bottom: 40px;
                .yellow{
                    color: $secondary_color;
                }
            }
            a{
                display: block;
                width: 70%;
                background-color: #FFFFFF;
                color: $primary_color;
                padding: 15px 42px;
                text-align: center;
                margin: 0 auto;
                font-weight: 600;
                font-size: 20px;
                border-radius: 10px;
            }
        }
        .cover__slick-dots{
            width: 80px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 2%;
            left: calc(50% - 66px);
            .cover__dot{
                width: 15px;
                height: 15px;
                border: 1px solid #CCCCCC;
                border-radius: 50%;
                cursor: pointer;
            }
            .active{
                background-color: #CCCCCC;
            }
        }
    }
}

.plans{
    .plans__title{
        margin-bottom: 40px;
        text-align: center;
        h2{
            text-align: center;
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 35px;
        }
        hr{
            margin: 0 auto;
            border-bottom: 2px solid $primary_color;
        }
    }

    .plans__list{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .plan{
            width: 24%;
            border: 2px solid #CCCCCC;
            border-radius: 5px;
            padding: 24px 20px;
            .plan__name{
                color: #777777;
                font-size: 25px;
                font-weight: 600;
                text-align: center;
            }
            .plan__velocity{
                color: $primary_color;
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                span{
                    font-size: 45px;
                }
            }
            .plan__type{
                color: #777777;
                font-weight: 600;
                font-size: 16px;
                text-align: center;
                margin-top: -11px;
            }
            .plan__price{
                font-size: 20px;
                font-weight: 400;
                color: #505050;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                span{
                    font-weight: 700;
                    font-size: 25px;
                }
            }
            .plan__features{
                font-size: 15px;
                font-weight: 300;
                border-bottom: 1px solid #CCCCCC;
                padding-bottom: 14px;
                div{
                    display: flex;
                    align-items: center;
                    img{
                        width: 40px;
                        margin-right: 10px;
                    }
                }
            }
            .plan__other-info{
                padding: 20px 0;
                i{
                    color: $primary_color;
                }
                a{
                    text-decoration: underline;
                    color: $primary_color;
                }
            }
            .plan__hire{
                background-color: $primary_color;
                color: white;
                padding: 15px 53px;
                display: block;
                width: 90%;
                text-align: center;
                border-radius: 10px;
                margin: 0 auto;
            }
        }
    }
    .plans__terms{
        font-weight: 300;
        font-size: 15px;
        text-align: center;
    }
}

.benefits{
    .container{
        display: flex;
        padding: 10px;
        .benefits__image{
            width: 35%;
            img{
                width: 100%;
            }
        }
        .benefits__list{
            width: 70%;
            padding: 0 57px;
            h2{
                font-weight: 600;
                font-size: 35px;
                text-align: center;
                margin-bottom: 74px;
            }
            ul{
                display: flex;
                justify-content: space-between;
                .benefit{
                    width: 30%;
                    .benefit__icon{
                        width: 92px;
                        height: 92px;
                        background-color: #CCCCCC;
                        margin: 0 auto;
                        margin-bottom: 16px;
                    }
                    p{
                        color: $primary_color;
                        font-weight: 700;
                        font-size: 18px;
                        text-align: center;
                        line-height: 27px;
                        height: 54px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.indicators{
    height: 600px;
    background-image: url("../src/Subtract.png");
    background-repeat: no-repeat;
    background-size: contain;
    .container{
        height: 100%;
        .indicators__left{
            position: relative;
            width: 40%;
            height: 100%;
            h2{
                color: #FFFFFF;
                font-weight: 700;
                font-size: 35px;
                width: 70%;
                position: absolute;
                top: 8%;
                left: 12%;
                span{
                    color: $secondary_color;
                    font-size: 38px;
                }
            }
            figure{
                width: 90%;
                position: absolute;
                bottom: 0;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}